<article class="container_12">
	
		<div class="clear"></div>
	<!-- content footer-->
		<section class="grid_12">

			<div class="block-border">
                   <div class="block-content">
				   <div class="block-controls">
					
				   <!-- list of members -->
			
				    <ul class="gallery   float-left" >
					<legend> Membres</legend>
					 <li title="Université de Ouagadougou"> 
							<a href="http://www.univ-ouaga.bf/" target="_blank"><img src="{{ asset('bundles/eieinstitut/logo/logo_univ-ouagadougou.gif') }}" width="64" height="43"></a>
						
						<div class="clear"></div>
						
					</li>
					
					 <li title="Université de Bamako">
							<a href="http://u-bamako.ml.refer.org/" target="_blank"><img src="{{ asset('bundles/eieinstitut/logo/logo_univ-bamako.gif') }}" width="64" height="45"></a>
						<div class="clear"></div>
					
					</li>
					
					 <li title="Université Marien Ngouabi">
							<a href="http://www.univ-mngb.net/" target="_blank"><img src="{{ asset('bundles/eieinstitut/logo/logo_univ-marien-ngouabi.gif') }}" width="64" height="50"></a>
						<div class="clear"></div>
						
					</li>
					
					 <li title="Université de Ndjamena"> 
							<a href="http://universite-ndjamena.org/" target="_blank"><img src="{{ asset('bundles/eieinstitut/logo/logo_univ-ndjamena.gif') }}" width="64" height="48"></a>
						<div class="clear"></div>
						
					</li>
					</ul>
					
					<!-- end list-->
					
					 <ul class="gallery   float-right" >
					<legend> Partenaires</legend>
					<!-- list of partners -->
				     <li title="acp"> 
							<a href="http://www.acp.int/" target="_blank"><img src="{{ asset('bundles/eieinstitut/logo/logo_acp.gif') }}" width="64" height="43"></a>
						<div class="clear "></div>
					
					</li>
					
					 <li title="Université Blaise Pascal">
							<a href="http://www.univ-bpclermont.fr/" target="_blank"><img src="{{ asset('bundles/eieinstitut/logo/logo_ubp.gif') }}" width="64" height="43"></a>
						<div class="clear"></div>
						
					</li>
					<!-- end list-->
				
                      </ul> 
					
					</div>
				      <div class="grid_3">
								
								<h2 id="step7">E-institut</h2>
							    <ul class="bullet-list">
							   
								   <li><a href="{{ path('A_propos') }}">À propos</a></li>
								   <li><a href="{{ path('Concept') }}">Concept</a></li>
								   <li><a href="#">Presse</a></li>
								   <li><a href="#">Le blog</a></li>
								</ul>
								<div class="clear"></div>
                       </div>
                       <div class="grid_3">
					    
						
						<h2 id="step7">Aide</h2>
						 <ul class="bullet-list">
							<li><a href="{{ path('AIDE_FAQ') }}">F.A.Q</a></li> 
                                                        
                                                        <li><a href="{{ path('AIDE_Security') }}">Sécurité </a></li>
                                                        <li><a href="{{ path('AIDE_Contact') }}">Contact </a></li> 
					   </ul>
						<div class="clear"></div>
							
						</div>	
                       <div class="grid_3">
                        		<h2 id="step7">Légal</h2>					   	
							 <ul class="bullet-list">
							   					
								<li><a href="{{ path('AIDE_Charte') }}">Conditions d'utilisation</a></li>
								<li><a href="{{ path('Legal_Vie_privee') }}">Vie privée</a></li>
								<li><a href="{{ path('Legal_Licence') }}">Licences ouvertures</a></li>
								<li><a href="{{ path('Legal_Signaler') }}">Signaler</a></li>
								<li><a href="{{ path('Legal_Mention') }}">Mentions légales</a></li>								
                            </ul>
							<div class="clear"></div>
                       </div>
                    
                       <div class="grid_3 form">
                              <ul class="controls-buttons">
								<li><a href="https://www.facebook.com/pages/E-Institut-Espace-Num%C3%A9rique-Acad%C3%A9mique-Unifi%C3%A9-ENAU/212028762219064" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/fb.png') }}" width="24" height="24"></a></li>
								<li><a href="https://twitter.com/EInstitut"target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/tw.png') }}" width="24" height="24"></a></li>
								<li><a href="http://www.linkedin.com/pub/e-institut/45/a43/168" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/ln.png') }}" width="24" height="24"></a></li>
								<li><a href="http://www.youtube.com/channel/UCNJWFhvZoYW_Qx-GoHHRBcw" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/yt.png') }}" width="24" height="24"></a></li>
								<li><a href="https://plus.google.com/112849304228527795761/posts" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/goo.png') }}" width="24" height="24"></a></li>
								<li><a href="#" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/rss.png') }}" width="24" height="24"></a></li>
								
							</ul>
							<fieldset>
						        <legend>Newsletter</legend>
						        <p></p>
						        <p>
						<label for="simple-calendar">Votre adresse email :</label>
						<span class="input-type-text margin-right relative"><input type="text" name="simple-calendar" id="simple-calendar" value="" class="datepicker hasDatepick"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png') }}" width="16" height="16">
						
						</span> 
						<button type="button" class="grey">S'inscrire</button>
					</p>
						    </fieldset>
						<div class="clear"></div>
                       </div>
						
                       <div class="clear"></div>
                       <!-- Footer block -->
                       <div class="block-footer">
                           <!--<div class="float-right">-->
                               Copyright E-institut © 2014 · Tous droits réservés
                          <!-- </div>-->
                           
						   
                       </div>
					   
                       </div>
                   </div>
		</section>

	</article>
	<!-- End content footer-->
		
	

	<footer>
		
		<div class="float-left">
			<div  class="button">Copyright E-institut © 2014 · All rights reserved</div>
			<a href="#" class="button red">Aide!</a>
			<a href="#" class="button grey">À propos</a>
		</div>
		
		<div class="float-right">
			<a href="#top" class="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-090.png') }}" width="16" height="16">Haut de page</a>
		</div>
		
	</footer>