{# empty Twig template #}
{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}

<section class="grid_9">
			<div class="block-border">
                <div class="block-content">
				<div class="block-controls">
					<h1 class="bigger">Detail préconisation</h1>
					</div>
				
				<div class="task with-legend">

						<!-- The legend -->
						<div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-pdf.png') }}" width="16" height="16"> Type de fiche</div>
						 
						<div class="task-description">
							 
							<!-- Task-list has special integration of the floating-tags class -->
							
							<div class="columns">
								<ul class="floating-tags">
									<li class="tag-time">5 days ago</li>
									<li class="tag-user">You</li>
									<li>Domaine</li>
									<li>Théme</li>
								</ul>
								<h3><a href="#">Fiche 1</a></h3>
								Small task description ...
							</div> 
							<div class="columns">
								<ul class="keywords">
									<li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png') }}" width="16" height="16"> Sea</li>
									<li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png') }}" width="16" height="16"> Fish</li>
									<li><a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png') }}" width="16" height="16"> Bubble</a></li>
								</ul>
							</div>
						</div>
							<ul class="mini-menu" style="opacity: 0;">
								<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png') }}" width="16" height="16"></a></li>
							</ul>
						</div>
						
						
						
						
						<div class="task with-legend">

						<!-- The legend -->
						<!--<div class="legend"><img src="images/icons/finefiles/32/rtf.png" width="16" height="16"> Notes</div>-->
						 
						<div class="task-description">
							 Cette ressource a été estimée par le réseau : </br>
							<dl ></br>
							<div class="grid_6">
					<dt class=""><span class="number">1</span> préparer ses cours</dt>
					<dd><br>
						<ul class="extended-options">
							<li>
								Rating: <strong>5/9</strong><br>
								<span class="progress-bar"><span style="width:56%"></span></span>
							</li>
							<li>
								Rating: <strong>3.4</strong><br>
								<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-half.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-empty.png') }}" width="16" height="16">
							</li>
						</ul>
					</dd></br>
					
					<dt class="opened"><span class="number">2</span> préparer ses travaux dirigés</dt>
					<dd><br>
						<ul class="extended-options">
							<li>
								Rating: <strong>5/9</strong><br>
								<span class="progress-bar"><span style="width:56%"></span></span>
							</li>
							<li>
								Rating: <strong>3.4</strong><br>
								<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-half.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-empty.png') }}" width="16" height="16">
							</li>
						</ul>
					</dd></br>
					</div>
					<div class="grid_6">
					<dt class=""><span class="number">3</span> préparer ses expériences</dt>
					<dd><br>
						<ul class="extended-options">
							<li>
								Rating: <strong>5/9</strong><br>
								<span class="progress-bar"><span style="width:56%"></span></span>
							</li>
							<li>
								Rating: <strong>3.4</strong><br>
								<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-empty.png') }}" width="16" height="16">
							</li>
						</ul>
					</dd></br>
					
					<dt class=""><span class="number">4</span> préparer ses exposés scientifiques</dt>
					<dd><br>
						<ul class="extended-options">
							<li>
								Rating: <strong>5/9</strong><br>
								<span class="progress-bar"><span style="width:56%"></span></span>
							</li>
							<li>
								Rating: <strong>3.4</strong><br>
								<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-half.png') }}" width="16" height="16"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-empty.png') }}" width="16" height="16">
							</li>
						</ul>
					</dd>
					
					</div>
				</dl>
			
					<div class="clear"></div>
					<button class="float-right" type=" button ">Donner votre préconisation</button>
			    </div>
				
					
            </div>
			
			</section>
    
{% endblock %}
