{# empty Twig template #}
{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}

<section class="grid_9">
			<div class="block-border">
			    <div class="block-content">

					<div class="block-controls">
						<h1>{{ Fiches.titre }}</h1>  <br><br>
					</div>
				
				<div class="fieldset  grey-bg clearfix">
				
					
				<div class="box float-right">
					
					<ul class="simple-list with-icon">
					
						<li ><span>Mise en ligne : {{ Fiches.datecreation|time_ago_in_words }}</span></li>
						<li ><span>Domaine : {{ Fiches.domaine }}</span></li>
						<li ><span>Thème : {{ Fiches.theme }}</span></li>
						<li ><span>Type : {{ Fiches.type }}</span></li>
                        <br>
					<li style="width: 100px;text-align: center; margin: auto;"><div>	
							{% for i in 1..5 %}
								{% if i < sumNote %}
									<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star.png') }}" width="16" height="16"/>
								{% endif %}
							{% endfor %}
							{% if sumNote%2 == 1 %}
								<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-half.png') }}" width="16" height="16">
							{% endif %}
							{% for i in 1..5 %}
								 {% if i > sumNote + 1%}
									 <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/star-empty.png') }}" width="16" height="16">
								 {% endif %}
							{% endfor %}
						</div></li>
						</br></br>
						<a href="{{ path('preconiser_ressource', { 'fiche': Fiches.id }) }}"><button class="float-right" name="preconiser" type="submit">Faire une Préconisation</button></a>
					</ul>
                                    
                                    
                                    
				</div>
					<p>{{ Fiches.resume }}</p>
						<p> Adresse <a href="http://{{ Fiches.url }}" target="_blank" >{{ Fiches.url }}</a></p>
					<p><ul class="keywords">
						Tags
							 {% for tag in Fiches.fiche_tags %}  <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> {{ tag.libelle }} </li>{% endfor %}
							
						</ul></p>
					<hr class="no-margin">
					<div class="task with-legend">

						<!-- The legend -->
						<div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/finefiles/32/rtf.png') }}" width="16" height="16"> Notes</div>
						 
						<div class="task-description">
							Cette ressource a été estimée par le reseau pour : <br>
							<dl><br>
							<div class="grid_6">
					{% for N in NotePreconisation %}  
                                            <dt class=""><span class="number">{{ loop.index }}</span> {{ N.NomCritere }} </dt>
                                            <dd><br>
                                            <ul class="extended-options">
                                                    <li>
                                                            Annotation: <strong>{{ N.note|round(1, 'floor') }}/5</strong><br>
                                                            <span class="progress-bar"><span style="width:{{ (N.note*20)|round(1, 'floor') }}%"></span></span>
                                                    </li>
                                            </ul>
                                            </dd><br>
                                        {% endfor %}
                                                    
					
					
					
				</dl>
			
					
			    </div>
				
            </div>
					
					
				</div>
				<!--
				<div class="fieldset   clearfix">
						<div class="task with-legend">
					
					<div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-pdf.png') }}" width="16" height="16"> Type de fiche</div>
						 
						<div class="task-description">
							 
							
							
							<div class="columns">
								<ul class="floating-tags">
									<li class="tag-time">5 days ago</li>
									<li class="tag-user">You</li>
									<li>Domaine</li>
									<li>Théme</li>
								</ul>
								<h3><a href="#">Fiche 1</a></h3>
								Small task description ...
							</div> 
							
							<div class="columns">
								<ul class="keywords">
									<li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png') }}" width="16" height="16"> Sea</li>
									<li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png') }}" width="16" height="16"> Fish</li>
									<li><a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png') }}" width="16" height="16"> Bubble</a></li>
								</ul>
							</div>
						</div>
							<ul class="mini-menu" style="opacity: 0;">
								<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png') }}" width="16" height="16"></a></li>
							</ul>
						</div>
							
					<ul class="controls-buttons">
						<li><a href="#" title="Précédent"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png') }}" width="16" height="16"> Précédent</a></li>
						<li><a href="#" title="Page 1"><b>1</b></a></li>
						<li><a href="#" title="Page 2" class="current"><b>2</b></a></li>
						<li><a href="#" title="Page 3"><b>3</b></a></li>
						<li><a href="#" title="Page 4"><b>4</b></a></li>
						<li><a href="#" title="Page 5"><b>5</b></a></li>
						<li><a href="#" title="suivant">Suivant <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png') }}" width="16" height="16"></a></li>
						
					</ul>
				
				</div>
				-->
				
		
					
					<div class="clear"></div>
			    </div>
				
			</div>
 
		</section>
    
{% endblock %}
