{% extends "EieinstitutBundle::Master-Base.html.twig" %}

{% block title %}
     {{ parent() }}   | Ressources
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}

        <div class="clear"></div>

        <!--section filtre -->	   	

        <section class="grid_3">
			<div class="block-border">
                <div class="block-content">
                        <h1> Filtre </h1>

                        <div class="block-controls">
                              
                        </div>
				<form class="form" id="recherche_fiche" method="post" action="">
                        <label for="simple-calendar" id="titrer">Mots Clés </label>
                        <p class="input-type-text">
                            

                            <input type="text" name="mot_cle" id="simple-search" value="{{ app.session.get('search_ressource') }}" style="width:90%" title="Filter results">
                           <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/magnifier.png')}}" width="16" height="16" class="float-right">

                        </p>
           
						<div class="clear"></div>


                    <ul class="collapsible-list with-bg">
                                <li>
                                        <b class="toggle"></b>
                                        <span>Type </span>
                                        <ul>
												
												{% for type in TypeArray%}
													{% set TestType = app.session.get('type' ~ loop.index )  %}
													<li class="closed">
														{% set check = '' %}
														{% if TestType==type  %}
															{% set check = 'checked' %}
														{% endif   %}
														<input type="checkbox" name="type{{ loop.index }}" value="{{ type }}"   {{ check }}/>
														
															<label for="simple-checkbox-1">{{ type }} </label>
															
													</li>
												{% endfor %}
                                                
                                        </ul>
                                </li>
								{% if test1==1  %}
                                <li>
								{% else  %}
								<li class="closed">
								{% endif   %}
                                        <b class="toggle"></b>
                                        <span>Domaine </span>
                                        <ul>
											{% for domaine in DomaineArray%}
													{% set TestDomaine = app.session.get('domaine' ~ loop.index )  %}
                                                <li class="closed">
													{% set check = '' %}
														{% if TestDomaine==domaine  %}
															{% set check = 'checked' %}
														{% endif   %}
                                                         <input type="checkbox" name="domaine{{ loop.index }}"  value="{{domaine}}" {{check}}>
													
                                                        <label for="simple-checkbox-1"> {{domaine}} </label>
                                                </li>
											{% endfor %}
												
                                        </ul>
                                </li>

                               <!-- <li class="closed">
                                <b class="toggle"></b>
                                <span >Pour préparer</span>
                                    <ul>
                                                
                                                        <ul class="checkable-list">
                                                                <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> Mes cours</label></li>
                                                                <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes travaux dirigés</label></li>
                                                                <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes expériences </label></li> 
                                                                <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes exposés scientifiques</label></li>                                      
                                                        </ul>
                                    </ul>

                                        
                                </li>

                                <li class="closed">
                                <b class="toggle"></b>
                                <span >Pour donner des compléments documentaires à</span>
                                        <ul class="checkable-list">
                                            <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> Mes cours</label></li>
                                            <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes travaux dirigés</label></li>
                                            <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes expériences </label></li> 
                                            <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes exposés scientifiques</label></li>                                      
                                         </ul>
                                </li>

                                <li class="closed">
                                <b class="toggle"></b>
                                <span >Choix des base</span>

										<ul class="checkable-list">
											<li class="closed"><input type="checkbox" name="stats-display[]" id="stats-display-0" value="0">&nbsp;<label for="stats-display-0">Pour comprendre les bases d'un sujet</label></li>
											<li class="closed"><input type="checkbox" name="stats-display[]" id="stats-display-1" value="1">&nbsp;<label for="stats-display-1">Pour approfondir mes connaissances sur un sujet</label></li>
											<li class="closed"><input type="checkbox" name="stats-display[]" id="stats-display-0" value="0">&nbsp;<label for="stats-display-0">Pour résoudre les problèmes du domaine</label> </li>
											<li class="closed"><input type="checkbox" name="stats-display[]" id="stats-display-1" value="1">&nbsp;<label for="stats-display-1">Pour s'exercer</label></li>                                         
										</ul>
                            </li>
                        </ul>-->
                        <div class="clear"></div>
						<div class="float-right" >
                           <button type="submit" name="btn_search" class="grey" >Rechercher</button>
                        </div>
						 
				</form>
						 <div class="clear"></div>

                </div>
			</div>
        </section>
        <!--fin section filtre -->	

        <!--section liste des publications-->	

        <section class="grid_9">
                <div class="block-border">
                    <div class="block-content">


                                <div class="block-controls">
                                                        <h1>Publications </h1>  <br><br>

                                </div>
                                <form class="form" id="tab-stats" method="post" action="">
                                    
 
        
        
						<div class="block-controls">
							<div class="controls-buttons">
                                        

                                            <!-- The class sub-hover removes the hover effect for the whole div -->
								<div class="sub-hover">
										<a href="#" class="disabled">Libellé</a>
										{% if ordre=='dateCreation'  %} 
										<input type="radio" name="trier" id="simple-radio-2" value="dateCreation" onClick="submit();" checked >Date</input>
										{% else %}
										<input type="radio" name="trier" id="simple-radio-2" value="dateCreation" onClick="submit();">Date</input>
										{% endif%}
										{% if ordre=='domaine'  %} 
										<input  type="radio" name="trier" id="simple-radio-1" value="domaine" onClick="submit();" checked >Domaine</input>
										{% else %}
										<input  type="radio" name="trier" id="simple-radio-1" value="domaine" onClick="submit();">Domaine</input>
										{% endif%}
										{% if ordre=='titre'  %} 
										<input  type="radio" name="trier" id="simple-radio-3" value="titre" onClick="submit();" checked >Titre</input>
										{% else %}
										<input  type="radio" name="trier" id="simple-radio-3" value="titre" onClick="submit();">Titre</input>
										{% endif%}
									
									
								</div>                    
							</div>
					
								<ul class="controls-buttons">

									<li>
										 <label for="show-empty">Trier par [ {{ app.session.get('ordre') }} ]</label>
									</li>  
									<li class="sep"></li>                 
								</ul>
                                       
					
						</div>
      

                <!--fin recherche avancée-->	
                               

                        <!--</form>-->
                        {% for Fiche in Fiches %}
                          {% if Fiche.statut==1  %}
                            <div class="task with-legend ">
						
                                           <!-- The legend -->
                                           <div class="legend">
												{% if Fiche.type=='Document'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Excel'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-excel.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Vidéo'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-film.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Flash'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-flash-movie.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Image'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-image.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Audio'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-music.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Pdf'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-pdf.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Word'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-word.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='PPT'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-powerpoint.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Zip'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-zipper.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Text'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-text.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Database'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/database.png')}}" width="16" height="16"/> 
													
												{% endif   %}
                                               {{ Fiche.type }}
                                           </div>

                                           <div class="task-description">

                                                   <!-- Task-list has special integration of the floating-tags class -->

                                                   <div class="columns">
                                                            <!--{{ Fiche.DateCreation|date('Y-m-d H:i') }}-->
                                                           <ul class="floating-tags">
                                                                   <li class="tag-time">{{ Fiche.DateCreation|time_ago_in_words  }}</li>
                                                                   <li class="tag-user">{{ Fiche.User.username }}</li>
                                                                   <li>{{ Fiche.theme }}</li>
                                                                   <li>{{ Fiche.domaine }}</li>
                                                           </ul>
                                                           <h3><a href="#"> {{ Fiche.titre }}</a></h3>
                                                           {{ Fiche.resume }}
                                                   </div> 
                                                   <div class="columns">
                                                           <ul class="keywords">
                                                                  {% for tag in Fiche.fiche_tags %}  <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> {{ tag.libelle }} </li>{% endfor %}
                                                                  
                                                           </ul>
                                                   </div>
                                           </div>
                                                   <ul class="mini-menu" style="opacity: 0;">
                                                           <li><a href="{{ path('detail_ressource',{'fiche': Fiche.id }) }}" title="Detail"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
                                                   </ul>
                                           </div>	
                       {% endif   %}
					   {% endfor %}
                              
						<ul class="controls-buttons">
						<li>il y'a <strong>{{ total_articles }}</strong> ressources</li>
								<li><a href="{{ path('Ressources', { 'page': 1 }) }}"> <span> |< </span> </a></li>
								<li><a href="{{ path('Ressources', { 'page': previous_page }) }}" title="Précédent"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png')}}" width="16" height="16"> Précédent</a></li>
								  {% for page in 1..last_page %}
									{% if page == current_page %}
									
								<li><a  title="Page {{ page }}" class="current"><b>{{ page }}</b></a></li>
								{% else %}
								<li><a href="{{ path('Ressources', { 'page': page }) }}"  title="Page {{ page }}"><b>{{ page }}</b></a></li>
								{% endif %}
								{% endfor %}
								<li name="suiv" value="1"><a  title="suivant" href="{{ path('Ressources', { 'page': next_page }) }}">Suivant <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png')}}" width="16" height="16"></a></li>
					
								<li><a href="{{ path('Ressources', { 'page': last_page }) }}" title="derniére page"> <span> >| </span> </a></li>
												 			</ul> <div class="clear"></div> <center><div class="pagination_desc" > 
								 {% if last_page > 1 %}
								 - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %} -</div></center>
					</form>						
						
						<div class="clear"></div>
					
						
                    </div>

                </div>

        </section>
        <!--fin section liste des publications -->	


{% endblock %}
{% block javascripts_Bottom %}
<SCRIPT language=javascript>
var chaine="Les chiens et les chiennes, les chats et les oiseaux";
var reg=new RegExp("(chien)", "g");
document.write("Chaîne d'origine : " + chaine + "<BR>");
document.write("Chaîne traitée : " + chaine.replace(reg,"<SPAN style='background-color=yellow'>$1</SPAN></FONT>") + "<BR>");
</SCRIPT>
{% endblock %}