{% extends "EieinstitutBundle::Sub-Master-Left.html.twig" %}
{% block title %}
     {{ parent() }}   | Ajouter une ressource
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block Slide %}

{% endblock %}
{% block Sub_Content %}

<section class="grid_9">
		<div class="block-border">
			
						<!--<div class="task with-legend">-->
					<!--<section class="grid_12">-->
			<form class="block-content form" id="table_form" method="post" action="">
				<h1>Brouillon</h1>
				
				<div class="block-controls">
					
					<ul class="controls-buttons">
						<li><a href="#" title="Previous"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png') }}" width="16" height="16"> Prec</a></li>
						<li><a href="#" title="Page 1"><b>1</b></a></li>
						<li><a href="#" title="Page 2" class="current"><b>2</b></a></li>
						<li><a href="#" title="Page 3"><b>3</b></a></li>
						<li><a href="#" title="Page 4"><b>4</b></a></li>
						<li><a href="#" title="Page 5"><b>5</b></a></li>
						<li><a href="#" title="Next">Suiv <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png') }}" width="16" height="16"></a></li>
						<li class="sep"></li>
						<li><a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-circle.png') }}" width="16" height="16"></a></li>
					</ul>
					
				</div>
			
				<div class="no-margin"><table class="table" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							<th class="black-cell"><span class="loading"></span></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up active"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								
							</th>
							<th scope="col"  width="500">Objet</th>
							
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Date
							</th>
							
							<th scope="col" class="table-actions">Actions</th>
						</tr>
					</thead>
					
					<tbody>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
							<td>Brouillon</td>
							<td><ul class="keywords">
								<li><a href="#">Infos</a></li>
								
							</ul></td>
							
							<td>02-05-2010</td>
							
							<td class="table-actions">
								<a href="#" title="D&eacutetails" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Supprimer" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
						</tr>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-2" value="2"></th>
							<td>Brouillon</td>
							<td><ul class="keywords">
								<li><a href="#">Infos</a></li>
							</ul></td>
							
							<td>10-10-2010</td>
							
							<td class="table-actions">
								<a href="#" title="D&eacutetails" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Supprimer" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
						</tr>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-3" value="3"></th>
							<td>Brouillon</td>
							<td><ul class="keywords">
								<li><a href="#">Infos</a></li>
							</ul></td>
							
							<td>24-03-2010</td>
							
							<td class="table-actions">
								<a href="#" title="D&eacutetails" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Supprimer" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
						</tr>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-4" value="4"></th>
							<td>Brouillon</td>
							<td><ul class="keywords">
								<li><a href="#">Infos</a></li>
							</ul></td>
							
							<td>02-10-2010</td>
							
							<td class="table-actions">
								<a href="#" title="D&eacutetails" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Supprimer" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
						</tr>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-5" value="5"></th>
							<td>Brouillon</td>
							<td><ul class="keywords">
								<li><a href="#">Infos</a></li>
							</ul></td>
							<td>21-07-2010</td>
							
							<td class="table-actions">
								<a href="#" title="D&eacutetails" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Supprimer" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
						</tr>
						
					</tbody>
				
				</table></div>
				
				<ul class="message no-margin">
					<li>Results 1 - 5 out of 23</li>
				</ul>
				
				<div class="block-footer">
					<div class="float-right">
						<label for="table-display" style="display:inline">Display mode</label>
						<select name="table-display" id="table-display" class="small">
							<option value="table">Table</option>
							<option value="grid">Grid</option>
						</select>
					</div>
					
					<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-curve-000-left.png') }}" width="16" height="16" class="picto"> 
					<a href="#" class="button">Selectionner tout</a> 
					<a href="#" class="button">deselectionner tout</a>
					<span class="sep"></span>
					<select name="table-action" id="table-action" class="small">
						<option value="">Action</option>
						<option value="validate">Valider</option>
						<option value="delete">Supprimer</option>
					</select>
					
					<button type="submit" class="small">Ok</button>
				</div>
					
				</form>
		</div>
	</section>
		




<div class="clear"></div>
<!-- End content -->
{% endblock %}
     
{% block javascripts_Bottom %}

{% endblock %}