{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
<article class="container_12">

	<section class="grid_8">
			<div class="block-border"><div class="block-content">
				
				
				
				<div class="gallery-preview no-margin">
					<a href="#" class="prev"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png') }}" width="16" height="16"></a>
					<a href="#" class="next"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png') }}" width="16" height="16"></a>
					<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-medium.jpg') }}" width="400" height="281"></a>
				</div>
				
				
								
			</div></div>
<br><br><br>
			<div class="block-border"><form class="block-content form" name="table_form" id="table_form" method="post" action="">
				<h1>
					Container Title Goes Here
				</h1>
				
				<div class="block-controls">
					
					<ul class="controls-buttons">
						<li><a href="#" title="Previous"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png') }}" width="16" height="16"> Prev</a></li>
						<li><a href="#" title="Page 1"><b>1</b></a></li>
						<li><a href="#" title="Page 2" class="current"><b>2</b></a></li>
						<li><a href="#" title="Page 3"><b>3</b></a></li>
						<li><a href="#" title="Next">Next <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png') }}" width="16" height="16"></a></li>
						<li class="sep"></li>
					</ul>
					
				</div>
				
				<div class="with-head no-margin">
					<ul class="grid dark-grey-gradient" align="center">
							<li>	
										<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="64" height="45"></a>
										<p class="grid-name">Title</p>
										<small>Subtitle</small>
							</li>
							<li>	
										<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="64" height="45"></a>
										<p class="grid-name">Title</p>
										<small>Subtitle</small>
							</li>
							<li>	
										<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="64" height="45"></a>
										<p class="grid-name">Title</p>
										<small>Subtitle</small>
							</li>
							<li>	
										<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="64" height="45"></a>
										<p class="grid-name">Title</p>
										<small>Subtitle</small>
							</li>
					</ul>
				</div>
				
				<ul class="message no-margin">
					<li>Results 1 - 4 out of 20</li>
				</ul>
				
				
			</form></div>
<br><br><br>
					<div class="block-border"><div class="block-content">
				<h1>Actualités</h1>
				
				<ul class="extended-list no-margin icon-user" align="left">
					<li>
						
							<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="80" height="80"></a>
						
					
					
						<section class="grid_6">
								
								<div class="extended-options">
									<h3>Task name</h3>
									Small task description Lorem ipsum<br><br><br><br>
									<a href="" align="right">Détails</a>
								</div>
								
						</section>
			
								
					</li>
	
					<li>
						
							<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="80" height="80" align="left"></a>
						
					
					
						<section class="grid_6">
								
								<div class="extended-options">
									<h3>Task name</h3>
									Small task description Lorem ipsum<br><br><br><br>
									<a href="" align="right">Détails</a>
								</div>
								
						</section>
			
								
					</li>
					<li>
						
							<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="80" height="80" align="left"></a>
						
					
					
						<section class="grid_6">
								
								<div class="extended-options">
									<h3>Task name</h3>
									Small task description Lorem ipsum<br><br><br><br>
									<a href="" align="right">Détails</a>
								</div>
								
						</section>
			
								
					</li>
					<li>
						
							<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="80" height="80" align="left"></a>
						
					
					
						<section class="grid_6">
								
								<div class="extended-options">
									<h3>Task name</h3>
									Small task description Lorem ipsum<br><br><br><br>
									<a href="" align="right">Détails</a>
								</div>
								
						</section>
			
								
					</li>
				</ul>
				
				<ul class="message no-margin" align="center">
					<a href="#">Toutes les actualités</a>
				</ul>
			</div></div>
	</section>
    
    
{% endblock %}
