{% extends "EieinstitutBundle::Master-Base.html.twig" %}




{% block content %}
    <!--section detail-->	
    <section class="grid_3">block gauche à inclure</section>
    <section class="grid_9">	
			<div class="block-border"><div class="block-content">
				<h1>Ressources</h1>
		
			<ul class="favorites no-margin with-tip" title="Context menu available!">	
				<li>
						<img src="{{ asset('bundles/eieinstitut/images/icons/web-app/48/Info.png')}}" width="48" height="48">
						<a href="#">Settings<br>
						<small>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et  <br />exécutable....       
						</small></a>
						<ul class="mini-menu">
							<li><a href="#" title="Move down"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-270.png')}}" width="16" height="16"></a></li>
							<li><a href="#" title="Delete"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png')}}" width="16" height="16"> Delete</a></li>
							<li><a href="#" title="Update"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png')}}" width="16" height="16"> Update</a></li>
						</ul>
					</li>
					
					<li>
						<img src="{{ asset('bundles/eieinstitut/images/icons/web-app/48/Line-Chart.png')}}" width="48" height="48">
						<a href="#">Bandwidth usage<br>
						<small>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et <br />exécutable....              
						</small></a>
						<ul class="mini-menu">
							<li><a href="#" title="Move up"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-090.png')}}" width="16" height="16"></a></li>
							<li><a href="#" title="Move down"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-270.png')}}" width="16" height="16"></a></li>
							<li><a href="#" title="Delete"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png')}}" width="16" height="16"> Delete</a></li>
							<li><a href="#" title="Update"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png')}}" width="16" height="16"> Update</a></li>
						</ul>
					</li>
					
					<li>
						<img src="{{ asset('bundles/eieinstitut/images/icons/web-app/48/Modify.png')}}" width="48" height="48">
						<a href="#">New post<br>
						<small>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et <br />exécutable....              
						</small></a>
						<ul class="mini-menu">
							<li><a href="#" title="Move up"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-090.png')}}" width="16" height="16"></a></li>
							<li><a href="#" title="Move down"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-270.png')}}" width="16" height="16"></a></li>
							<li><a href="#" title="Delete"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png')}}" width="16" height="16"> Delete</a></li>
							<li><a href="#" title="Update"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png')}}" width="16" height="16"> Update</a></li>
						</ul>
					</li>
					<li>
						<img src="{{ asset('bundles/eieinstitut/images/icons/web-app/48/Pie-Chart.png')}}" width="48" height="48">
						<a href="#">Browsers stats<br>
						<small>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et <br />exécutable....              
						</small></a>
						<ul class="mini-menu">
							<li><a href="#" title="Move up"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-090.png')}}" width="16" height="16"></a></li>
							<li><a href="#" title="Move down"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-270.png')}}" width="16" height="16"></a></li>
							<li><a href="#" title="Delete"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png')}}" width="16" height="16"> Delete</a></li>
							<li><a href="#" title="Update"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png')}}" width="16" height="16"> Update</a></li>
						</ul>
					</li>
					
					<li>
						<img src="{{ asset('bundles/eieinstitut/images/icons/web-app/48/Comment.png')}}" width="48" height="48">
						<a href="#">Manage comments<br>
						<small>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et <br />exécutable....             
						 </small></a>
						<ul class="mini-menu">
							<li><a href="#" title="Move up"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-090.png')}}" width="16" height="16"></a></li>
							<li><a href="#" title="Delete"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png')}}" width="16" height="16"> Delete</a></li>
							<li><a href="#" title="Update"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png')}}" width="16" height="16"> Update</a></li>
						</ul>
					</li>
			</ul>	
			</div></div><br /> 

			<div class="block-border"><div class="block-content">
				<h1>Tutoriels en ligne</h1>	

				<ul class="tabs js-tabs same-height">
					<li class="current"><a href="#tab-locales" title="TBI">TBI</a></li>
					<li class=""><a href="#tab-options" title="Visio">Visio</a></li>
				
				</ul>
					<div class="tabs-content">		
						<div id="tab-locales">
						<table class="table" cellspacing="0" width="100%">
							<tr>
								<td>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et exécutable....              </td>
								<td><button type="button">Participé</button></td>
							</tr>
							<tr>
								<td>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et exécutable....              </td>
								<td><button type="button">Participé</button></td>
							</tr>
							<tr>
								<td>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et exécutable....              </td>
								<td><button type="button">Participé</button></td>
							</tr>
							<tr>
								<td>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et exécutable....              </td>
								<td><button type="button">Participé</button></td>
							</tr>
							<tr>
								<td>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et exécutable....              </td>
								<td><button type="button">Participé</button></td>
							</tr>		
						</table>
						</div>
						<div id="tab-options">
							<table class="table" cellspacing="0" width="100%">
								<tr>
									<td>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et exécutable....              </td>
									<td><button type="button">Participé</button></td>
								</tr>
								<tr>
									<td>Chaque exemple est décrit en UML et en Java sous la forme d´un petit programme complet et exécutable....              </td>
									<td><button type="button">Participé</button></td>
								</tr>
							</table>
						</div>
					</div>

			</div></div>
		</section>


		<!--fin section lioste des publications -->	
{% endblock %}