{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
    <!--section detail-->	
    <div class="clear"></div>
		<section class="grid_9">
			<div class="block-border"><div class="block-content">
				<h1>Actualités</h1>
				
                         	<div class="block-controls">
					<ul class="controls-buttons">
						<li><a href="#" title="Previous"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png') }}" width="16" height="16"> Préc.</a></li>
						<li><a href="#" title="Page 1" class="current"><b>1</b></a></li>
						<li><a href="#" title="Page 2"><b>2</b></a></li>
						<li><a href="#" title="Page 3"><b>3</b></a></li>
						<li><a href="#" title="Page 4"><b>4</b></a></li>
						<li><a href="#" title="Page 5"><b>5</b></a></li>
						<li><a href="#" title="Next">Suiv. <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png') }}" width="16" height="16"></a></li>
						<li class="sep"></li>						
					</ul>
				</div>	
				<ul class="extended-list no-margin icon-user" align="left">
					<li>
						
							<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1.jpg') }}" width="180" height="120"></a>
						
					
					
						<section class="grid_6">
								
								<div class="task-description margin-left">
									<h3>Task name</h3><p class="float-right Date">Date:01/01/2014</p>
                                                                        <br>
									Small task description Lorem ipsum
                                                                        Small task description Lorem ipsum
                                                                        Small task description Lorem ipsum
                                                                        <br><br><br><br>
									<a href="" align="right">Détails</a>
								</div>
								
						</section>
			
								
					</li>
	
					<li>
						
							<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1.jpg') }}" width="180" height="120"></a>
						
					
					
						<section class="grid_6">
								
								<div class="task-description margin-left">
									<h3>Task name</h3><p class="float-right Date">Date:01/01/2014</p>
                                                                        <br>
									Small task description Lorem ipsum
                                                                        Small task description Lorem ipsum
                                                                        Small task description Lorem ipsum
                                                                        <br><br><br><br>
									<a href="" align="right">Détails</a>
								</div>
								
						</section>
			
								
					</li>
					<li>
						
							<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1.jpg') }}" width="180" height="120"></a>
						
					
					
						<section class="grid_6">
								
															<div class="task-description margin-left">
									<h3>Task name</h3><p class="float-right Date">Date:01/01/2014</p>
                                                                        <br>
									Small task description Lorem ipsum
                                                                        Small task description Lorem ipsum
                                                                        Small task description Lorem ipsum
                                                                        <br><br><br><br>
									<a href="" align="right">Détails</a>
								</div>
								
						</section>
			
								
					</li>
					<li>
						
							<a href="#"><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1.jpg') }}" width="180" height="120"></a>
						
					
					
						<section class="grid_6">
								
															<div class="task-description margin-left">
									<h3>Task name</h3><p class="float-right Date">Date:01/01/2014</p>
                                                                        <br>
									Small task description Lorem ipsum
                                                                        Small task description Lorem ipsum
                                                                        Small task description Lorem ipsum
                                                                        <br><br><br><br>
									<a href="" align="right">Détails</a>
								</div>
								
						</section>
			
								
					</li>
				</ul>					
			</div>					<ul class="message no-margin">
					<li>Results 1 - 10 out of 47</li>
				</ul>			  
                        </div>
		</section>

		<!--fin section lioste des publications -->	
{% endblock %}