{% extends "AdministrationBundle::Master-Base.html.twig" %}

{% block title %}
     {{ parent() }}   | Ajouter Image
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}
     <!--section block-->
	     
<section class="grid_9">			   	

        <div class="block-border"> 
            <div class="block-content"> <h1>Ajouter Diaporama</h1>								
                <div class="block-border" id="status-bar">				
		<a href="javascript:void(0)" class="button" title=""> <strong>Toutes les images</strong></a>
			
		<span class="float-left">Nouvelle image</span>
                </div>
            </div>
                
	<br><br>
        
        <div class="block-content">
					
					<form class="block-content form" id="simple_form" method="post" action="#">
				
				<div class="columns">
							<p class="colx2-left">
								
								<span class="label required">
									Titre
								</span>
									<input type="text" name="complex-fr-subtitle" id="complex-fr-subtitle" value="" class="full-width">
							</p>
							<p class="colx2-right">
								<span class="label required">
									Description
								</span>
									<input type="text" name="complex-fr-subtitle" id="complex-fr-subtitle" value="" class="full-width">
							</p>	
						</div>
						
										
							<div>
						<input type="file" name="piecejointe" id="piecejointe">
						<button type="button">Télecharger</button>
						<ul class="files">
									<li><a href="javascript:void(0)">
										<span><img src="{{ asset('bundles/eieinstitut/images/demo/files/file1-mini.png') }}" width="64" height="45" class="thumb"></span>
										Concept car.jpg
									</a></li>
									
								</ul>
						</div>	
						<br><br>
									
					<div class="float-right"><br>
						<button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/newspaper.png') }}" width="16" height="16"> Prévisualiser</button>
						<button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"> Annuler</button>
						<button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tick-circle.png') }}" width="16" height="16"> Enregistrer</button>
											
					</div>
				
			</form>
			</div>
				
		

                
						</div>										
		<div class="clear"></div>								

								
</section>		               
{% endblock %}
{% block javascripts_Bottom %}

{% endblock %} 