{% extends "EiAdministrationBundle::Master-Base-Admin.html.twig" %}
{% block title %}
     {{ parent() }}   | Lister ressoureces
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}

<!--section block-->

<section class="grid_9">			   	

        <div class="block-border"> 
            <div class="block-content"> <h1>Ressources</h1>								
                <div class="block-border" id="status-bar">				
		<a href="{{ path('ei_administration_ajouter_ressource') }}" class="button" title="Ajouter"><img src="{{ asset('bundles/eiadministration/images/icons/fugue/plus-circle.png') }}" width="16" height="16"> <strong>Ajouter</strong></a>
			
		<span class="float-left">Toutes les ressources</span>
                </div>
            </div>
                
	<br><br>
        

			<form class="block-content form" id="table_form" method="post" action="#">	
				<div class="block-controls">					
					<ul class="controls-buttons">
						<li><a href="javascript:void(0)" title="Previous"><img src="{{ asset('bundles/eiadministration/images/icons/fugue/navigation-180.png') }}" width="16" height="16"> Prev</a></li>
						<li><a href="javascript:void(0)" title="Page 1"><b>1</b></a></li>
						<li><a href="javascript:void(0)" title="Page 2" class="current"><b>2</b></a></li>
						<li><a href="javascript:void(0)" title="Page 3"><b>3</b></a></li>
						<li><a href="javascript:void(0)" title="Page 4"><b>4</b></a></li>
						<li><a href="javascript:void(0)" title="Page 5"><b>5</b></a></li>
						<li><a href="javascript:void(0)" title="Next">Next <img src="{{ asset('bundles/eiadministration/images/icons/fugue/navigation.png') }}" width="16" height="16"></a></li>
						<li class="sep"></li>
						<li><a href="javascript:void(0)"><img src="{{ asset('bundles/eiadministration/images/icons/fugue/arrow-circle.png') }}" width="16" height="16"></a></li>
					</ul>
					
				</div>
			
				<div class="no-margin"><table class="table" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
							<th scope="col">
							<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
							Type</th>
							<th scope="col">
								<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
								Titre
							</th>
							<th scope="col">Domaine</th>
							<th scope="col">
							<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
							Auteur
							
							</th>
							<th scope="col">Date
								<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
							</th>
							<th scope="col" class="table-actions">Actions</th>
						</tr>
					</thead>
					
					<tbody>
						
						
		{% for rs in ressource %}
                                            
                                            <tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
                                                                                               
                                                                                                {% if rs.type=='Document'%}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document.png')}}" width="16" height="16"/>{{rs.type}}</td>
												{% elseif rs.type=='Excel'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-excel.png')}}" width="16" height="16"/>{{rs.type}}</td>
												{% elseif rs.type=='Vidéo'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-film.png')}}" width="16" height="16"/>{{rs.type}}</td>
												{% elseif rs.type=='Flash'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-flash-movie.png')}}" width="16" height="16"/>{{rs.type}}</td>
												{% elseif rs.type=='Image'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-image.png')}}" width="16" height="16"/>{{rs.type}}</td>
												{% elseif rs.type=='Audio'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-music.png')}}" width="16" height="16"/>{{rs.type}}</td>
												{% elseif rs.type=='Pdf'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-pdf.png')}}" width="16" height="16"/>{{rs.type}}</td> 
												{% elseif rs.type=='Word'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-word.png')}}" width="16" height="16"/> {{rs.type}}</td>
												{% elseif rs.type=='Ppt'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-powerpoint.png')}}" width="16" height="16"/> {{rs.type}}</td>
												{% elseif rs.type=='Zip'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-zipper.png')}}" width="16" height="16"/>{{rs.type}}</td> 
												{% elseif rs.type=='Text'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/document-text.png')}}" width="16" height="16"/>{{rs.type}}</td> 
												{% elseif rs.type=='Database'  %}
													<td><img src="{{ asset('bundles/eiadministration/images/icons/fugue/database.png')}}" width="16" height="16"/>{{rs.type}}</td> 
                {% endif   %}                                                        
               
                <td>{{rs.titre}}</td> <td>{{rs.domaine}}</td> <td>{{rs.user }}</td> <td>{{rs.dateCreation|date('m/d/Y')}}</td>
                                                                <td class="table-actions">
								<a href="{{ path('ei_administration_modifier_ressource', {'id': rs.id }) }}" title="Modifier" class="with-tip"><img src="{{ asset('bundles/eiadministration/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="{{ path('detail_ressource', {'fiche': rs.id }) }}" title="Afficher" class="with-tip"><img src="{{ asset('bundles/eiadministration/images/icons/fugue/magnifier.png') }}" width="16" height="16"></a>
								<a href="{{ path('ei_administration_ressource') }}" onclick="Supprimer({{ rs.id }})" title="Metttre dans la corbeille" class="with-tip"><img src="{{ asset('bundles/eiadministration/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
                                  </td></tr>
		{% endfor %}					
							
						
						

						
	
						
						
					</tbody>
				
				</table></div>
				
				<ul class="message no-margin">
					<li>Results 1 - 5 out of 23</li>
				</ul>
				
				<div class="block-footer">
					<img src="{{ asset('bundles/eiadministration/images/icons/fugue/arrow-curve-000-left.png') }}" width="16" height="16" class="picto">
					<span class="sep"></span>
					<select name="table-action" id="table-action" class="small">
						<option value="">Tout</option>
						<option value="publie">Publiées</option>
						<option value="corbeille">Corbeille</option>
					</select>
					<button type="submit" class="small">Ok</button>
				</div>
					
			</form>		
					
			</div>									
		<div class="clear"></div>								
	</div>
								
</section>		               
{% endblock %}
{% block javascripts_Bottom %}
<script>
    
    function Supprimer(id)
    {
        
            var confirmation=confirm("Voulez-vous supprimer:"+id);
           if (confirmation){ 
               $.post("{{ path('ei_administration_supprimer_ressource') }}",{idFiche:id},function(result){ {{ path('ei_administration_ressource') }}   }
                        );}
}
    </script> 
{% endblock %}
