{% extends "EiAdministrationBundle::Master-Base-Admin.html.twig" %}
{% block title %}
     {{ parent() }}   | Modifier Ressource
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}

<section class="grid_9">
			
				
			<div class="fieldset with-legend grey-bg ">
				<div class="legend">Ressources</div>
					
			
			
			<div class="block-border" id="status-bar">
	
		<a href="javascript:void(0)" class="button" title=""> <strong>Toutes les ressources</strong></a>
			
			<span class="float-left">Modifier ressource</span>
	
	</div>
			
	
	<br><br>
                                                {% set titre = Fiche.titre %}   
                                                {% set tags = "" %} 
                                                {% set domaine = Fiche.domaine %}
                                                {% set theme = Fiche.theme %}
                                                {% set url = Fiche.url %}
                                                {% set type = Fiche.type %}          
                                                {% set description = Fiche.resume %}
					<form class="block-content form" id="simple_form" method="post" action="{{ path('ei_administration_modifier_ressource', {'id': Fiche.id }) }}">
				
				<span class="label required">
											Titre 
										</span>
								<input id="complex-fr-subtitle" class="full-width" type="text" value="{{titre}}" name="titre"></input> <br><br>
										<span class="label required">
											Description
										</span>
										
										<textarea id="editable" class="full-width" rows="10" cols="7" name="description" >
                                                                                {{description}}
										</textarea><br><br>
							
							
										<span class="label required">
											 URL 
										</span>
								<input id="complex-fr-subtitle" class="full-width" type="text" value="{{url}}" name="url"></input> <br><br>
								<div class="columns">
							<p class="colx2-left">
									<span class="label required">
											Tags
									</span>
								<input id="complex-fr-subtitle" class="full-width" type="text" value="" name="tags"> </input><br><br>
								
							</p>
							<p class="colx2-right">
							<span class="label ">
										&nbsp;	
									</span>
								<button type="button">Ajouter</button> <br><br>
								
								</p>
								</div>
									
			<div class="block-border">
			    <div class="block-content no-title">
			    	<h3>Tags</h3>
			    
					<ul class="tags">
					   
					</ul>

				</div>
			</div><br>
			
				<span  class="label required"> Domaine </span>
					<select class="full-width" name="domaine" id="stats-sites-0" >
                                                <option value="{{Fiche.domaine}}">{{Fiche.domaine}}</option>
						<option value="Banque/comptabilité/assurance">Banque/comptabilité/assurance</option>
						<option value="Commerce">Commerce</option>
						<option value="Droit">Droit</option>
						<option value="Economie">Economie</option>
						<option value="Gestion projet/Ressorces humaines">Gestion projet/Ressorces humaines</option>
						<option value="Informatique">Informatique</option>
						<option value="Informatique">Marketing</option>
						<option value="Santé">Santé</option>
						<option value="Autre">Autre</option>
					</select><br><br>		
				
				<span  class="label required"> Théme</span>
					<!--<select class="full-width" name="theme" id="stats-sites-0">
						<option value="Développemnt">Développemnt</option>
						<option value="Réseau">Réseau</option>
					</select><br><br>	--><input id="complex-fr-subtitle" class="full-width" type="text" value="{{Fiche.theme}}" name="theme"></input>
						
				<span  class="label required">Type</span>
					<select class="full-width" name="type" id="stats-sites-0">
                                                <option value="{{Fiche.type}}">{{Fiche.type}}</option>
						<option value="Audio">Audio</option>
						<option value="Document">Document</option>
						<option value="Database">Data base</option>
						<option value="Excel">Excel</option>
						<option value="Flash">Flash</option>
						<option value="Pdf">Pdf</option>
						<option value="Vidéo">Vidéo</option>
						<option value="Word">Word</option>
					</select>
						
			<div class="float-right"><br>
			<a href="{{ path('ei_administration_ressource') }}"> <button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"> Annuler</button></a>
			<button type="submit" name="btn_save"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tick-circle.png') }}" width="16" height="16"> Enregistrer</button>	
								
			</div>
				</form></div>
			
				
			
			
				
		
		</section>    
{% endblock %}
{% block javascripts_Bottom %}

{% endblock %} 