{% extends "EiAdministrationBundle::Master-Base-Admin.html.twig" %}
{% block title %}
     {{ parent() }}   | Modifier critere
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}
  
<section class="grid_9">	

{% if critere is not null  %}
        <div class="block-border"> 
            <div class="block-content"> <h1>Modifier la critere</h1>								
                <div class="block-border" id="status-bar">				
		<a href="{{ path('ei_administration_preconisation') }}" class="button" title=""> <strong>Toutes les criteres</strong></a>
			
		<span class="float-left">Modifier critere</span>
                </div>
            </div>
                
	<br><br>
        
        <div class="block-content">
                               
			<form class="block-content form" id="simple_form" method="post" action="{{ path('ei_administration_modifier_preconisation', {'id': critere.id }) }}">
                                 {% set libelle = critere.libelle %}

 

                                
				<div class="columns">
				
						<p class="colx2-left">
								   									
								<span class="label required">
									Modifier le critere
								</span>
									<input type="text" name="libelle" id="complex-fr-subtitle" value="{{libelle}}" class="label">
							<br><br>
	
							</p> 	
                                                        
						</div>
						
										
					
									
					<div class="float-right"><br>
                                                <a href="{{ path('ei_administration_preconisation') }}"> <button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"> Annuler</button></a>
						<button type="submit" name="btn_save"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tick-circle.png') }}" width="16" height="16"> Enregistrer</button>					
					</div>
				
			</form>
			</div>
				
		

                
						</div>	
{% endif %}  

{% if note is not null  %}
        <div class="block-border"> 
            <div class="block-content"> <h1>Modifier la critere</h1>								
                <div class="block-border" id="status-bar">				
		<a href="{{ path('ei_administration_preconisation') }}" class="button" title=""> <strong>Toutes les notes</strong></a>
			
		<span class="float-left">Modifier note</span>
                </div>
            </div>
                
	<br><br>
        
        <div class="block-content">
                               
			<form class="block-content form" id="simple_form" method="post" action="{{ path('ei_administration_modifier_note', {'id': note.id }) }}">
                                 {% set libelle = note.libelle %}
                                 {% set annotation = note.annotation %}
 

                                
				<div class="columns">
				
						<p class="colx2-left">
								   									
								<span class="label required">
									Modifier le libelle
								</span>
									<input type="text" name="libelle" id="complex-fr-subtitle" value="{{libelle}}" class="label">
							<br><br>
                                                                <span class="label required">
									Modifier le annotation
								</span>
									<input type="text" name="annotation" id="complex-fr-subtitle" value="{{annotation}}" class="label">
							<br><br>
							</p> 	
                                                        
						</div>
						
										
					
									
					<div class="float-right"><br>
                                                <a href="{{ path('ei_administration_preconisation') }}"> <button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"> Annuler</button></a>
						<button type="submit" name="btn_save"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tick-circle.png') }}" width="16" height="16"> Enregistrer</button>					
					</div>
				
			</form>
			</div>
				
		

                
						</div>	
{% endif %}         
		<div class="clear"></div>								

								
</section>		               
{% endblock %}
{% block javascripts_Bottom %}

{% endblock %} 