{% extends "EiAdministrationBundle::Master-Base-Admin.html.twig" %}
{% block title %}
     {{ parent() }}   | Lister actualite
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}

<section class="grid_9">
			
				
			<div class="fieldset with-legend grey-bg ">
				<div class="legend">Actualités</div>
					
			
			
			
			
			<div class="block-border" id="status-bar">
	
		<a href="{{ path('ajouter_actualite') }}" class="button" title="Ajouter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/plus-circle.png') }}" width="16" height="16"> <strong>Ajouter</strong></a>
		
			
			<span class="float-left">Toutes les actualités </span>
	
	</div>
	
	
	<br><br>
			
			<div class=""><form class="block-content form" id="table_form" method="post" action="#">
				
				
				<div class="block-controls">
					
					
					
				</div>
			
				<div class="no-margin"><table class="table" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
							<th scope="col">Statut</th>
							<th scope="col">
								<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
								Titre
							</th>
							
							<th scope="col">
							<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
							Auteur
							
							</th>
							<th scope="col">Date
								<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
							</th>
							<th scope="col" class="table-actions">Actions</th>
						</tr>
					</thead>
					{% for actualits in  actualite %}
					<tbody>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
							<td>Publié</td>
							<td>{{ actualits.titre }}</td>
							
							<td> {{ actualits.user.username }}</td>
							<td>{{ actualits.dateActualite|date('d m Y') }}</td>
							
							<td class="table-actions">
                                                            <a href="{{ path('modifier_actualite',{'actualite':  actualits.id }) }}" title="Modifier" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
                                                            <a href="{{ path('detail_actualite',{'actualite':  actualits.id }) }}" title="Afficher" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/magnifier.png') }}" width="16" height="16"></a>
                                                            <a  onclick="SupprimerActualite({{ actualits.id }})" title="Supprimer" title="Metttre dans la corbeille" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
						</tr>
	
						
					</tbody>
                                        {% endfor %}
				
				</table></div>
				
				<ul class="message no-margin">
					<li>Results 1 - 5 out of 23</li>
				</ul>
				
				<div class="block-footer">
					<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-curve-000-left.png') }}" width="16" height="16" class="picto">
					<span class="sep"></span>
					<select name="table-action" id="table-action" class="small">
						<option value="">Tout</option>
						<option value="publie">Publiées</option>
						<option value="corbeille">Corbeille</option>
						<option value="desactive">Désactivées</option>
					</select>
					<button type="submit" class="small">Ok</button>
				</div>
					
			</form></div>
		
				
				
				
				
				
				
			
			</div>
				
		
		</section>
     
{% endblock %}
{% block javascripts_Bottom %}
     
     <script>
    
    //Delete Modal
            function SupprimerActualite(id)
            {
                    $.modal({
                            content: 'Voulez-vous supprimer cet actualité ?'
                                              ,
                            title: 'Confirmation',
                            maxWidth: 300,
                            buttons: {
                                    'Confirmer': function(win) 
                                    { 
                                       console.log("Entrer ");
                                    // Action 
                                    $.post(
                                        "{{ path('supprimer_actualite') }}",
                                        {idActualite:id},
                                            function(result){
                                                console.log("bien jouer");
                                                location.reload();
                                                //$('html').load('{{ path('liste_actualite') }}');
                                                });
                                    
                                    
                                     },
                                    'Annuler': function(win) { win.closeModal(); }
                            }
                    });
            }
    
    
   
    </script> 
    

{% endblock %} 