{% extends "EiAdministrationBundle::Master-Base-Admin.html.twig" %}

{% block title %}
     {{ parent() }}   | Modifier Actualité
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}

<section class="grid_9">
			
				
			<div class="fieldset with-legend grey-bg ">
				<div class="legend">Actualités</div>
					
			
			
			<div class="block-border" id="status-bar">
	
		<a href="javascript:void(0)" class="button" title=""> <strong>Toutes les actualités</strong></a>
			
			<span class="float-left">Modifier actualité</span>
	
	</div>
			
	
	<br><br>
        {% for actualite in actualites %}
					
					<form class="block-content form" id="simple_form" method="post" action="#">
				
				<div class="columns">
							<p class="colx2-left">
								
								<span class="label required">
									Titre 
								</span>
									<input type="text" name="complex-fr-subtitle" id="complex-fr-subtitle" value="{{ actualite.titre }}" class="full-width" >
							</p>
							<p class="colx2-right">
								<span class="label required">
									URL d'image
								</span>
									<input type="text" name="complex-fr-subtitle" id="complex-fr-subtitle" value="{{ actualite.urlimage }}" class="full-width" >
							</p>	
						</div>
						
										
						<span class="label required">
							Contenu
						</span>
						<textarea id="editable" >{{ actualite.contenu }}</textarea>
						<br><br>
					
					
					
					<p>
						<span class="label required">
									Date de publication
						</span>
						Du :<span class="input-type-text margin-right relative"><input type="text" name="simple-calendar" id="simple-calendar" value="{{ actualite.dateactualite|date('d-m-Y') }}" class="datepicker hasDatepick"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/calendar-month.png') }}" width="16" height="16"></span>
						Au :<span class="input-type-text margin-right relative"><input type="text" name="simple-calendar" id="simple-calendar" value="{{ actualite.dateexpiration|date('d-m-Y') }}" class="datepicker hasDatepick"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/calendar-month.png') }}" width="16" height="16"></span>
						
					</p>
					
					<div class="float-right">
						<button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tick-circle.png') }}" width="16" height="16"> Enregistrer</button>
											
					</div>
				<div class="clear"></div>
			</form>
        {% endfor %}
			</div>
				
		
		</section>     
{% endblock %}
{% block javascripts_Bottom %}

{% endblock %} 