{% extends "EiAdministrationBundle::Master-Base-Contribu.html.twig" %}

{% block title %}
     Table du board | {{ parent() }}   
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}
<section class="grid_9 ">			   	

        <div class="block-border"> 
            <div class="block-content"> <h1>Rapport d'activités</h1>								
					<div id="tab-global" class="tabs-content" style="height: 590px;">
							
							<ul class="tabs js-tabs same-height">
								<li class="current"><a href="#tab-comment" title="Commentaires">Commentaires</a></li>
								<li><a href="#tab-stats" title="Options">Statistiques</a></li>
								<li><a href="#tab-news" title="Options">Les actualités</a></li>
							</ul>
							
							<div class="tabs-content">
								<!--commentaires-->
								<div id="tab-comment" style="height: 519px;">
								
								
								<dl class="accordion">
											<dt class="opened">
												<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/balloon-reverse.png') }}" width="16" height="16">
												
												<strong>Marc:</strong> 
												Don't forget to tell the client <em>- Yesterday</em>
																	</dt>
																	
											<dd style="display: block;">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
												<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											
											
											<ul class="" style="opacity: 10;">
													<li><a href="javascript:void(0)" title="Contacter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png') }}" width="16" height="16"> Contacter</a></li>
													<li><a href="javascript:void(0)" title="Supprimer"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"> Supprimer</a></li>
												</ul>
											</dd>
											
											
											<dt class="">
												<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/folder.png') }}" width="16" height="16">
												
												<strong>Marc:</strong> 
												Don't forget to tell the client <em>- Yesterday</em>
																	</dt>
																	
											<dd style="display: block;">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
												<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											
											
											<ul class="" style="opacity: 10;">
													<li><a href="javascript:void(0)" title="Contacter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png') }}" width="16" height="16"> Contacter</a></li>
													<li><a href="javascript:void(0)" title="Supprimer"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"> Supprimer</a></li>
												</ul>
											</dd>
											
											
											<dt class="">
												<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/balloon-reverse.png') }}" width="16" height="16">
												
												<strong>Marc:</strong> 
												Don't forget to tell the client <em>- Yesterday</em>
																	</dt>
																	
											<dd style="display: block;">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
												<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											
											
											<ul class="" style="opacity: 10;">
													<li><a href="javascript:void(0)" title="Contacter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png') }}" width="16" height="16"> Contacter</a></li>
													<li><a href="javascript:void(0)" title="Supprimer"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"> Supprimer</a></li>
												</ul>
											</dd>
											
					
					
					
								</dl>
								
								
								</div>	
								
								<!--statistiques voir "drawVisitorsChart()"-->
								<div id="tab-stats" style="height: 519px;">
										<div id="chart_div" style="height: 330px; position: relative;">
											<div dir="ltr" style="position: relative; width: 1142px; height: 330px;">
												<div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;">
													<sv	g width="1142" height="330" style="overflow: hidden;">
														<defs id="defs">
															<clipPath id="_ABSTRACT_RENDERER_ID_2">
																<rect x="141" y="63" width="861" height="204"></rect>
															</clipPath>
														</defs>
														<rect x="0" y="0" width="1142" height="330" stroke="none" stroke-width="0" fill="#ffffff"></rect>
														<g>
															<text text-anchor="start" x="141" y="37.9" font-family="Arial" font-size="14" font-weight="bold" stroke="none" stroke-width="0" fill="#000000">
																Activités mensuelles
															</text>
														</g>
														<g>
															<rect x="1016" y="63" width="112" height="83" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
															<g>
																<rect x="1016" y="63" width="112" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
																<g>
																	<text text-anchor="start" x="1035" y="74.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Visites
																	</text>
																</g>
																	<rect x="1016" y="63" width="14" height="14" stroke="none" stroke-width="0" fill="#3366cc"></rect>
															</g>
															<g>
																<rect x="1016" y="86" width="112" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
																<g>
																	<text text-anchor="start" x="1035" y="97.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Pages visitées
																	</text>
																</g>
																<rect x="1016" y="86" width="14" height="14" stroke="none" stroke-width="0" fill="#dc3912"></rect>
															</g>
															<g>
																<rect x="1016" y="109" width="112" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
																<g>
																	<text text-anchor="start" x="1035" y="120.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Sujets de dicussion
																	</text>
																</g>
																<rect x="1016" y="109" width="14" height="14" stroke="none" stroke-width="0" fill="#ff9900"></rect>
															</g>
															<g>
																<rect x="1016" y="132" width="112" height="14" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
																<g>
																	<text text-anchor="start" x="1035" y="143.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Ressources
																	</text>
																</g>
																<rect x="1016" y="132" width="14" height="14" stroke="none" stroke-width="0" fill="#109618"></rect>
															</g>
														</g>
														<g>
															<rect x="141" y="63" width="861" height="204" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
															<g clip-path="url(#_ABSTRACT_RENDERER_ID_2)">
																<g>
																	<rect x="141" y="266" width="861" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
																	<rect x="141" y="215" width="861" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
																	<rect x="141" y="165" width="861" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
																	<rect x="141" y="114" width="861" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
																	<rect x="141" y="63" width="861" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
																	
																</g>
																<g>
																	<rect x="155" y="225" width="10" height="41" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="227" y="205" width="10" height="61" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="299" y="179" width="10" height="87" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="370" y="158" width="10" height="108" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="442" y="144" width="10" height="122" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="514" y="118" width="10" height="148" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="585" y="149" width="10" height="117" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="657" y="141" width="10" height="125" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="729" y="83" width="10" height="183" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="800" y="103" width="10" height="163" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="872" y="186" width="10" height="80" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="944" y="222" width="10" height="44" stroke="none" stroke-width="0" fill="#3366cc"></rect>
																	<rect x="166" y="198" width="10" height="68" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="238" y="202" width="10" height="64" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="310" y="184" width="10" height="82" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="381" y="187" width="10" height="79" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="453" y="178" width="10" height="88" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="525" y="198" width="10" height="68" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="596" y="179" width="10" height="87" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="668" y="179" width="10" height="87" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="740" y="189" width="10" height="77" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="811" y="197" width="10" height="69" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="883" y="176" width="10" height="90" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="955" y="190" width="10" height="76" stroke="none" stroke-width="0" fill="#dc3912"></rect>
																	<rect x="177" y="225" width="10" height="41" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="249" y="234" width="10" height="32" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="321" y="234" width="10" height="32" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="392" y="232" width="10" height="34" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="464" y="227" width="10" height="39" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="536" y="226" width="10" height="40" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="607" y="217" width="10" height="49" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="679" y="217" width="10" height="49" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="751" y="223" width="10" height="43" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="822" y="213" width="10" height="53" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="894" y="217" width="10" height="49" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="966" y="224" width="10" height="42" stroke="none" stroke-width="0" fill="#ff9900"></rect>
																	<rect x="188" y="229" width="10" height="37" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="260" y="237" width="10" height="29" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="332" y="237" width="10" height="29" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="403" y="234" width="10" height="32" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="475" y="222" width="10" height="44" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="547" y="203" width="10" height="63" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="618" y="220" width="10" height="46" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="690" y="217" width="10" height="49" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="762" y="226" width="10" height="40" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="833" y="233" width="10" height="33" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="905" y="226" width="10" height="40" stroke="none" stroke-width="0" fill="#109618"></rect>
																	<rect x="977" y="249" width="10" height="17" stroke="none" stroke-width="0" fill="#109618"></rect>
																</g>
																<g>
																	<rect x="141" y="266" width="861" height="1" stroke="none" stroke-width="0" fill="#333333"></rect>
																</g>
															</g>
															<g></g>
															<g>
																<g>
																	<text text-anchor="middle" x="177.33333333333334" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Jan
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="249" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Fev
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="320.6666666666667" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Mar
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="392.33333333333337" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Avr
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="464" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Mai
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="535.6666666666667" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Jun
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="607.3333333333334" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Jul
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="679" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Aou
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="750.6666666666667" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Sep
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="822.3333333333334" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Oct
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="894" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Nov
																	</text>
																</g>
																<g>
																	<text text-anchor="middle" x="965.6666666666667" y="287.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#222222">
																		Dec
																	</text>
																</g>
																<g>
																	<text text-anchor="end" x="127" y="271.4" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">
																		0
																	</text>
																</g>
																<g>
																	<text text-anchor="end" x="127" y="220.65" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">
																		60
																	</text>
																</g>
																<g>
																	<text text-anchor="end" x="127" y="169.9" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">
																		120
																	</text>
																</g>
																<g>
																	<text text-anchor="end" x="127" y="119.15" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">
																		180
																	</text>
																</g>
																<g>
																	<text text-anchor="end" x="127" y="68.4" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">
																		240
																	</text>
																</g>
																
																<g>
																	<text text-anchor="end" x="127" y="18.4" font-family="Arial" font-size="14" stroke="none" stroke-width="0" fill="#444444">
																		Nombre
																	</text>
																</g>
																
															</g>
														</g>
														<g></g>
													</svg>
												</div>
											</div>
											<div style="display: none; position: absolute; top: 340px; left: 1152px; white-space: nowrap; font-family: Arial; font-size: 14px; font-weight: bold;">
												53
											</div>
											<div></div>
										</div>
									
								</div>	
								
								<!--actualités-->
								<div id="tab-news" style="height: 519px;">
								
								
								
								
								<div class=""><form class="block-content form" id="table_form" method="post" action="#">
				
				
				<div class="block-controls">
					
					<ul class="controls-buttons">
						<li><a href="javascript:void(0)" title="Previous"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png') }}" width="16" height="16"> Prev</a></li>
						<li><a href="javascript:void(0)" title="Page 1"><b>1</b></a></li>
						<li><a href="javascript:void(0)" title="Page 2" class="current"><b>2</b></a></li>
						<li><a href="javascript:void(0)" title="Page 3"><b>3</b></a></li>
						<li><a href="javascript:void(0)" title="Page 4"><b>4</b></a></li>
						<li><a href="javascript:void(0)" title="Page 5"><b>5</b></a></li>
						<li><a href="javascript:void(0)" title="Next">Next <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png') }}" width="16" height="16"></a></li>
						<li class="sep"></li>
						<li><a href="javascript:void(0)"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-circle.png') }}" width="16" height="16"></a></li>
					</ul>
					
				</div>
			
				<div class="no-margin"><table class="table" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
							
							<th scope="col">
								<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
								Titre
							</th>
							<th scope="col">Description</th>
							<th scope="col">
							<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
							Auteur
							
							</th>
							<th scope="col">Date
								<span class="column-sort">
									<a href="" title="Sort up" class="sort-up"></a>
									<a href="" title="Sort down" class="sort-down"></a>
								</span>
							</th>
							<th scope="col" class="table-actions">Actions</th>
							<th scope="col" class="table-actions">Nombre de Vue</th>
						</tr>
					</thead>
					
					<tbody>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
							
							<td>Lorem ipsum sit amet</td>
							<td> ma  description</td>
							<td>Ali</td>
							<td>02-05-2010</td>
							
							<td class="table-actions">
								<a href="javascript:void(0)" title="Modifier" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="javascript:void(0)" title="Afficher" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/magnifier.png') }}" width="16" height="16"></a>
								<a href="javascript:void(0)" title="Metttre dans la corbeille" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
							<td>10</td>
						</tr>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
						
							<td>Lorem ipsum sit amet</td>
							<td> ma  description</td>
							<td>Ali</td>
							<td>02-05-2010</td>
							
							<td class="table-actions">
								<a href="javascript:void(0)" title="Modifier" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="javascript:void(0)" title="Afficher" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/magnifier.png') }}" width="16" height="16"></a>
								<a href="javascript:void(0)" title="Metttre dans la corbeille" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
							<td>10</td>
						</tr>
						
						<tr>
							<th scope="row" class="table-check-cell"><input type="checkbox" name="selected[]" id="table-selected-1" value="1"></th>
							
							<td>Lorem ipsum sit amet</td>
							<td> ma  description</td>
							<td>Ali</td>
							<td>02-05-2010</td>
							
							<td class="table-actions">
								<a href="javascript:void(0)" title="Modifier" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="javascript:void(0)" title="Afficher" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/magnifier.png') }}" width="16" height="16"></a>
								<a href="javascript:void(0)" title="Metttre dans la corbeille" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
							</td>
							<td>10</td>
						</tr>
						
						
						
					</tbody>
				
				</table></div>
				
				<ul class="message no-margin">
					<li>Results 1 - 5 out of 23</li>
				</ul>
				
			
					
			</form></div>
				</div>	
								
							</div>
								
								
								
							</div>
						</div>										
		<div class="clear"></div>								
	</div>
								
</section>		               
{% endblock %}
{% block javascripts_Bottom %}

{% endblock %} 