

{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}	

	<section class="grid_3">
		<div class="block-border">
			    <div class="block-content">	
				<h1>Légal</h1>
					 <ul class="bullet-list">
							   					
								<li><a href="{{ path('Legal_Condition') }}">Condition d'utilisation</a></li>
								<li><a href="{{ path('Legal_Vie_privee') }}">Vie privée</a></li>
								<li><a href="{{ path('Legal_Licence') }}">Licences ouvertures</a></li>
								<li><a href="{{ path('Legal_Signaler') }}">Signaler</a></li>
								<li><a href="{{ path('Legal_Mention') }}">Mentions légales</a></li>								
                            </ul>
				</div>
		</div>
	</section>
		<section class="grid_9">
			<div class="block-border">
			    <div class="block-content">

					<div class="block-controls">
						<h1>Condition d'utilisation </h1>
					</div>				
				<div class="fieldset  grey-bg clearfix">
					<div class="task-description">

<p>à jeur!!</p>

</div>
				</div>
					<div class="clear"></div>
			    </div>
				
			</div>
 
		</section>

{% endblock %}