{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
    <!--section detail-->	                
		<section class="grid_3">
		<div class="block-border">
			    <div class="block-content">	
				<h1>Légal</h1>
					 <ul class="bullet-list">
							   					
								<li><a href="{{ path('AIDE_Charte') }}">Conditions d'utilisation</a></li>
								<li><a href="{{ path('Legal_Vie_privee') }}">Vie privée</a></li>
								<li><a href="{{ path('Legal_Licence') }}">Licences ouvertures</a></li>
								<li><a href="{{ path('Legal_Signaler') }}">Signaler</a></li>
								<li><a href="{{ path('Legal_Mention') }}">Mentions légales</a></li>									
                            </ul>
				</div>
		</div>
                </section>
		<section class="grid_9">
			<div class="block-border">
			    <div class="block-content">

					<div class="block-controls">
						<h1>Licence </h1>
					</div>				
				<div class="">
					<div class="task-description"><p style="font-weight:bold">Principe Général</p>

<p>E-institut propose à ses utilisateurs deux sortes de licences pour leur contenu :</p>

<p><b>Les licences Creative Commons. </b>
Pour plus d'informations sur les options qui vous sont offertes, rendez-vous sur le site des licences Creative Commons. :</p>

<ul>
	<li>http://creativecommons.org/licenses/</li>
	<li>Pour choisir une licence creative commons</li>
	<li>http://creativecommons.org/choose/?lang=fr</li>
</ul>

<p ><b>Le copyright </b>(tout droit réservé)<br />
http://fr.wikipedia.org/wiki/Droit_d%27auteur </p>

<p>Que vous choisissiez une licence creative commons ou un copyright pour vos contenus, tout ce que vous publiez sur E-institut est consultable et réutilisable gratuitement et librement sur E-institut. Cependant ces licences protègent ou restreignent l'utilisation de vos publications en dehors de E-institut sans votre accord express.</p>

<p style="font-weight:bold">Utilisation interne et externe des contenus éducatifs de la communauté E-institut </p>

<p>Une fois qu'un contenu (contenu éducatif) est sur E-institut, il est libre d'utilisation et de modification pour tous ses membres. Si un membre souhaite récupérer un contenu pour l'utiliser à l'extérieur d'E-institut, sur le web ou dans le monde physique, ce contenu lui est proposé sous licence Creative Commons Attribution Non-Commerciale NoDerivs. Cette licence prévoit les dispositions principales suivantes :</p>


<p>les Contenus restent libres et gratuits où qu'ils soient reproduits <br />
    les Contenus ne sont pas exploitables commercialement par des tiers sauf avec votre accord express<br />
    les Contenus s'ils sont modifiés doivent l'être au sein de E-institut.</p>

<p>Si ce contenu est copyrighté par son auteur, toute utilisation de ce contenu à l’extérieur E-institut doit être au préalable confirmé par son auteur.</p>



<p>Il s'agit pour nous d'une question de réciprocité. Exemple: si vous donnez votre savoir à la communauté, et que quelqu'un le fait évoluer, il nous semble normal que vous-même et la communauté E-institut puissiez bénéficier de cette évolution.</p>

<p style="font-weight:bold">
(idem : modèle beebac, début de réflexion pour rédiger les conditions spécifiques à E-institut et savoir comment Beebac peut affirmer que les modifications faites sur son site sont légales. Autrement dit : Beebac a-t-il demander ou fait une déclaration officielle auprès d'un organisme particulier. <br />
E-institut est-il soumis aux règles de droits français ? a priori oui)</p></div>
				</div>
					<div class="clear"></div>
			    </div>
				
			</div>
 
		</section>
		<!--fin section lioste des publications -->	
{% endblock %}