

{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}	
           
	<section class="grid_3">
		<div class="block-border">
			    <div class="block-content">	
				<h1>Légal</h1>
					 <ul class="bullet-list">
							   					
								<li><a href="{{ path('AIDE_Charte') }}">Conditions d'utilisation</a></li>
								<li><a href="{{ path('Legal_Vie_privee') }}">Vie privée</a></li>
								<li><a href="{{ path('Legal_Licence') }}">Licences ouvertures</a></li>
								<li><a href="{{ path('Legal_Signaler') }}">Signaler</a></li>
								<li><a href="{{ path('Legal_Mention') }}">Mentions légales</a></li>									
                            </ul>
				</div>
		</div>
	</section>
		<section class="grid_9">
			<div class="block-border">
			    <div class="block-content">		
						<h1>Signaler</h1>			
				
				
				<div class="">				
					<div class="task-description">
					<p style="font-weight:bold">Signaler un contenu illicite ou contraire aux conditions g&eacute;n&eacute;rales d'utilisation</p>



<p>1/ Conform&eacute;ment &agrave; la charte d'utilisation et aux conditions g&eacute;n&eacute;rales d'utilisation, E-institut met &agrave; la disposition de ses membres un dispositif de mod&eacute;ration facilement accessible et visible. E-institut compte sur chacun pour signaler tout contenu illicite &agrave; E-institut, et en particulier :</p>



<p>. L'apologie des crimes contre l'humanit&eacute;,</p>



<p>. L'incitation &agrave; la haine raciale,</p>



<p>. La pornographie enfantine,</p>



<p>. L'incitation &agrave; la violence,</p>



<p>. l'atteinte &agrave; la dignit&eacute; humaine.</p>



<p>Le formulaire de signalement est accessible en cliquant sur le lien signaler, localis&eacute; de mani&egrave;re syst&eacute;matique en dessous de chaque contenu (publication, question, r&eacute;ponse). Il est &eacute;galement possible d'adresser un courrier &agrave; E-institut (adresse), pr&eacute;cisant la date &agrave; laquelle vous avez constat&eacute; ce contenu, votre identit&eacute;, l'adresse URL du contenu litigieux, sa description et l'identifiant de son auteur.</p>



<p>2/ E-institut est soumis &agrave; une obligation de retirer tout contenu manifestement illicite, d&egrave;s lors que nous en aurons eu effectivement connaissance, selon les conditions pr&eacute;vues en application de la loi num&eacute;ro 2004-575 du 21 juin 2004.</p>



<p>Si vous voulez nous signaler la pr&eacute;sence d'un contenu prot&eacute;g&eacute; par des droits de propri&eacute;t&eacute; intellectuelle sur le site, envoyez-nous un message &agrave; cette adresse :..., en pr&eacute;cisant les points suivants (cf article 6-I-5 de la loi du 21 juin 2004):</p>



<p> La date de la notification ;</p>

<p> L'identit&eacute; du notifiant ;</p>

<p> Si le notifiant est une personne physique : ses nom, pr&eacute;nom, profession, domicile, nationalit&eacute;, date et lieu de naissance ;</p>

<p> Si le notifiant est une personne morale : sa forme, sa d&eacute;nomination, son si&egrave;ge social et l'organe qui la repr&eacute;sente l&eacute;galement ;</p>

<p> Nom et domicile du destinataire ou, s'il s'agit d'une personne morale, sa d&eacute;nomination et son si&egrave;ge social ;</p>

<p> La description des faits litigieux et leur localisation pr&eacute;cise (ex : lien URL de la publication, question, r&eacute;ponse);</p>

<p> Les motifs pour lesquels le contenu doit &ecirc;tre retir&eacute;, comprenant la mention des dispositions l&eacute;gales et des justifications de faits ;</p>

<p> La copie de la correspondance adress&eacute;e &agrave; l'auteur ou &agrave; l'&eacute;diteur des informations ou activit&eacute;s litigieuses demandant leur interruption, leur retrait ou leur modification, ou la justification de ce que l'auteur ou l'&eacute;diteur n'a pu &ecirc;tre contact&eacute;.</p>



<p>Attention : toute notification incompl&egrave;te sera consid&eacute;r&eacute;e invalide.</p>



<p>3/ Si vous estimez qu'un de vos contenus a &eacute;t&eacute; signal&eacute; ou supprim&eacute; &agrave; tort, contactez-nous &agrave; l'adresse suivante : ... Pr&eacute;cisez le titre du contenu en question ainsi que la date &agrave; laquelle il a &eacute;t&eacute; supprim&eacute; ou signal&eacute;. Indiquez nous les raisons qui vous font dire que votre contenu a &eacute;t&eacute; supprim&eacute; ou signal&eacute; &agrave; tort. Notre &eacute;quipe de mod&eacute;ration se chargera de prendre une d&eacute;cision en accord avec notre r&egrave;glementation.</p>



<p style="font-weight:bold">(idem : mod&egrave;le beebac, d&eacute;but de r&eacute;flexion pour r&eacute;diger les conditions sp&eacute;cifiques &agrave; E-institut) </p>
					</div>
				</div>
					<div class="clear"></div>
			    </div>
				
			</div>
 
		</section>

{% endblock %}