{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
	<!--section detail-->	
		<section class="grid_3">
		<div class="block-border">
			    <div class="block-content">	
				<h1>Légal</h1>
					<ul class="bullet-list  with-icon">
						<li><a href="{{ path('AIDE_Charte') }}">Conditions d'utilisation</a></li>
								<li><a href="{{ path('Legal_Vie_privee') }}">Vie privée</a></li>
								<li><a href="{{ path('Legal_Licence') }}">Licences ouvertures</a></li>
								<li><a href="{{ path('Legal_Signaler') }}">Signaler</a></li>
								<li><a href="{{ path('Legal_Mention') }}">Mentions légales</a></li>	
					</ul>
                            </div>
		</div>
                </section>
                <section class="grid_9">
			<div class="block-border">
			    <div class="block-content">

                            <div class="block-controls">
                                <h1>Conditions d'utilisation </h1>
                            </div> 
				
					<div class="task-description"><p style="font-weight:bold">Conditions d'utilisation</p>

<p>E-institut encourage ses utilisateurs &agrave; rendre la communaut&eacute; plus enrichissante et plus positive. Dans la dynamique du partage, la mod&eacute;ration est un &eacute;l&eacute;ment clef pour la r&eacute;ussite de tous.</p>

<p>Vous trouverez ci-dessous les r&egrave;gles fondamentales &agrave; garder &agrave; l'esprit:</p>

<p>Bien utiliser E-institut, c'est :</p>

<p style="font-weight:bold">Partager ses connaissances </p>

<p>La richesse des savoirs de la communaut&eacute; repose sur ses membres, alors n'h&eacute;sitez pas &agrave; partager vos connaissances ou vos exp&eacute;riences (scolaires ou professionnelles), elles seront s&ucirc;rement utiles &agrave; quelqu'un. Gardez &agrave; l'esprit que nous avons tous quelque chose &agrave; enseigner, et quelque chose &agrave; apprendre.</p>

<p style="font-weight:bold">Etre courtois </p>

<p>E-institut est une communaut&eacute; ouverte &agrave; tous et o&ugrave; diverses opinions s'expriment. Les membres sont donc invit&eacute;s &agrave; faire preuve de courtoisie et de respect mutuel.</p>

<p style="font-weight:bold">Etre utile </p>

<p>Attribuez une pr&eacute;conisation lorsqu'un contenu vous semble int&eacute;ressant. Avant de publier, demandez-vous si votre contribution enrichit la communaut&eacute; : la qualit&eacute; du contenu d'E-institut d&eacute;pend de vous.</p>

<p style="font-weight:bold">Citer ses sources</p>

<p>Vous pouvez bien s&ucirc;r utiliser des ressources en ligne pour publier du contenu ou pour r&eacute;pondre &agrave; des questions, mais n'oubliez pas de citer vos sources.</p>

<p style="font-weight:bold">&Ecirc;tre le plus clair possible</p>

<p>Soyez concis et pr&eacute;cis, soignez votre orthographe et votre grammaire, cela augmentent vos chances d'obtenir de bonnes r&eacute;ponses.</p>

<p style="font-weight:bold">Choisir les bons mots clefs </p>

<p>Lorsque vous publiez du contenu (publication, lien) ou que vous posez une question, pensez &agrave; bien renseigner vos mots clefs: vous obtiendrez ainsi des commentaires plus pertinents et des r&eacute;ponses plus cibl&eacute;es.</p>

<p></p>

<p>Mal utiliser E-institut, c'est :</p>

<p style="font-weight:bold">Laisser libre cours &agrave; ses frustrations ou rancœurs </p>

<p>E-institut est une communaut&eacute; de personnes aux opinions, croyances, origines vari&eacute;es, et chaque membre doit s'y montrer respectueux. Les commentaires insultants ou intol&eacute;rants sont strictement prohib&eacute;s et feront l'objet de sanctions le cas &eacute;ch&eacute;ant.</p>

<p style="font-weight:bold">Se montrer m&eacute;chant ou obsc&egrave;ne </p>

<p>Parce que Beebac s'adresse entre autres &agrave; des &eacute;tudiants et des enseignants-chercheurs et que tout simplement ce n'est pas la vocation du site, les propos et images sexuellement explicites sont strictement prohib&eacute;s. Il en va de m&ecirc;me des insultes, commentaires agressifs, et de mani&egrave;re g&eacute;n&eacute;rale, de tout ce qui peut choquer.</p>

<p style="font-weight:bold">
Utiliser la communaut&eacute; </p>

<p>E-institut a pour but de mettre en valeur les connaissances de ses membres et de les enrichir de nouveaux savoirs. En aucun cas la communaut&eacute; ne doit &ecirc;tre prise pour un espace commercial. Si vous &ecirc;tes tr&egrave;s exp&eacute;riment&eacute; dans un domaine scolaire ou que vous &ecirc;tes un enseignant, il n'y a pas de mal &agrave; assortir votre r&eacute;ponse d'un lien vers votre blog ou votre site, si cela permet de l'illustrer ou l'argumenter. En revanche, cela pose probl&egrave;me si vous cr&eacute;ez des liens qui n'ont pas de rapport avec le sujet ou qui sont clairement destin&eacute;s &agrave; un gain personnel ou financier.</p>

<p style="font-weight:bold">
Tricher </p>

<p>Le syst&egrave;me de pr&eacute;conisation est destin&eacute; &agrave; faire &eacute;merger les contenus et les membres les plus &agrave; m&ecirc;me d'aider les autres membres dans un domaine. La cr&eacute;ation de comptes multiples et la publication sans contenu pertinent, dans le seul but de collecter des votes, ne sont pas tol&eacute;r&eacute;es. Le fait de poster des r&eacute;ponses vides ou de copier celles d'un autre membre dans le seul but d'occuper la premi&egrave;re place des r&eacute;ponses est &eacute;galement consid&eacute;r&eacute; comme de la tricherie.</p>

<p style="font-weight:bold">
Enfreindre la loi </p>

<p>Ne publiez aucun contenu qui entre en infraction avec les lois de votre pays. Ne cherchez pas &agrave; soutirer des informations personnelles &agrave; d'autres membres, ou &agrave; voler quoique ce soit (des oeuvres prot&eacute;g&eacute;es par le droit d'auteur, par exemple). De m&ecirc;me, aucune menace, harc&egrave;lement, violence, usurpation d'identit&eacute; ou atteinte &agrave; la vie priv&eacute;e ne seront tol&eacute;r&eacute;s.</p>

<p style="font-weight:bold">Etre malveillant </p>

<p>Ne cr&eacute;ez pas de liens vers des sites contenant des virus ou des logiciels malveillants (malwares) ou qui interf&egrave;rent avec le fonctionnement d'E-institut.</p>

<p style="font-weight:bold">D&eacute;tourner l'usage du site </p>

<p>Publiez du contenu compr&eacute;hensible, en fran&ccedil;ais, et ne posez pas les m&ecirc;mes questions de fa&ccedil;on r&eacute;p&eacute;t&eacute;e. Beebac compte sur ses membres pour, d'une part signaler les abus, et d'autre part valoriser les contenus de qualit&eacute; par les pr&eacute;conisations. Ne d&eacute;tournez donc pas ces fonctionnalit&eacute;s de leur usage pour attaquer d'autres membres de fa&ccedil;on malveillante.</p>

<p style="font-weight:bold">
Nuire aux autres </p>

<p>Soyez responsable et ne nuisez pas aux autres membres d'E-institut en leurs donnant de mauvais conseils qui pourraient &ecirc;tre n&eacute;fastes pour leurs &eacute;tudes et leur avenir.</p>

<p></p>

<p>L'utilisation d'E-institut est soumise aux conditions d'utilisation d'E-institut. Les membres qui enfreignent ces conditions encourent la suspension de leur compte. Dans les cas extr&ecirc;mes, certaines violations peuvent m&ecirc;me entra&icirc;ner la suppression du compte E-institut. </p>

<p style="font-weight:bold">
(idem : mod&egrave;le beebac, d&eacute;but de r&eacute;flexion pour r&eacute;diger les conditions sp&eacute;cifiques &agrave; E-institut</p></div>
				
					<div class="clear"></div>
			    </div>			
			</div>
		</section>
		<!--fin section lioste des publications -->	
{% endblock %}